{% extends "base.html" %} 
{% block head %}
<!-- place for css link -->
<title>Bornfire - 팀원소개</title>

<link href="{{url_for('static',filename='./css/about-us.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile profile_red">
                <img src="static/assets/img/about-us/about-us_image1.png">
                <div class="profile-contents">
                    <h2>심 동 민<span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_beige">
                <img src="static/assets/img/about-us/about-us_image2.png">
                <div class="profile-contents">
                    <h2>박 수 민<span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_green">
                <img src="static/assets/img/about-us/about-us_image3.png">
                <div class="profile-contents">
                    <h2>이 상 길<span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_pink">
                <img src="static/assets/img/about-us/about-us_image4.png">
                <div class="profile-contents">
                    <h2>이 동 현<span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_purple">
                <img src="static/assets/img/about-us/about-us_image5.png">
                <div class="profile-contents">
                    <h2>이 상 백<span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
    </ul> 
</div>    
{% endblock %}
{% block script %}

{% endblock %}
