{% extends "base.html" %} 
{% block head %}
<!-- place for css link -->
<title>Bornfire - 팀원소개</title>

<link href="{{url_for('static',filename='./css/about-us.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile profile_red">
                <img src="static/assets/img/about-us/about_us_image1.jpg">
                <div class="profile-contents">
                    <h2>심 동 민</h2>
                    <p>기획,데이터분석,프론트엔드,백엔드 총괄담당</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_beige">
                <img src="static/assets/img/about-us/about_us_image2.jpg">
                <div class="profile-contents">
                    <h2>박 수 민</h2>
                    <p>데이터분석</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_green">
                <img src="static/assets/img/about-us/about_us_image3.jpg">
                <div class="profile-contents">
                    <h2>이 상 길</h2>
                    <p>백엔드,MongoDB</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_pink">
                <img src="static/assets/img/about-us/about_us_image4.jpg">
                <div class="profile-contents">
                    <h2>이 동 현</h2>
                    <p>백엔드,프론트엔드,DB설계</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_purple">
                <img src="static/assets/img/about-us/about_us_image5.jpg">
                <div class="profile-contents">
                    <h2>이 상 백</h2>
                    <p>프론트엔드</p>
            </div>
        </li>
    </ul> 
</div>    
{% endblock %}
{% block script %}

{% endblock %}
