{% extends "base.html" %} 
{% block head %}
<!-- place for css link -->
<link href="{{url_for('static',filename='./css/about-us.css')}}" rel="stylesheet">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>🔥 Bornfire-팀 소개</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile profile_red">
                <img src="static/assets/img/about-us/about-us_image1.png">
                <div class="profile-contents">
                    <h2> 이름 <span>직책</span></h2>
                    <p>lfpodgjdfgjhndlfngdkfjgnhdfkjg</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_beige">
                <img src="static/assets/img/about-us/about-us_image2.png">
                <div class="profile-contents">
                    <h2> 이름 <span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_green">
                <img src="static/assets/img/about-us/about-us_image3.png">
                <div class="profile-contents">
                    <h2> 이름 <span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_pink">
                <img src="static/assets/img/about-us/about-us_image4.png">
                <div class="profile-contents">
                    <h2> 이름 <span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_purple">
                <img src="static/assets/img/about-us/about-us_image5.png">
                <div class="profile-contents">
                    <h2> 이름 <span>직책</span></h2>
                    <p>내용</p>
            </div>
        </li>
    </ul> 
</div>    
{% endblock %}
