{% extends "base.html" %} {% block head %}
<!-- place for css link -->
<link href="{{url_for('static',filename='./css/feed.css')}}" rel="stylesheet" />
<!-- place for jquery CDN -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %} {% block body %}
<main>
  <div class="card feed-comment rounded-pill bg-primary">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>우리 회사, 학교 근처 맛집 자랑하기!</p>
      </blockquote>
    </div>
  </div>
  <div class="card mt-5">
    <form>
      <div class="input-group input-group-lg">
        <input
          class="card-header form-control"
          type="text"
          placeholder=" 따뜻한 마음을 전해요"
          id = "context"
        />
        <div class="input-group-append input-group-lg">
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="button-addon2"
          >
            포스트
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">성난 개구리 🐸</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>아 언제 코로나 끝나냐.. 마스크 벗고 운동 좀 하고 싶다 진짜</p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;459</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">기쁜 펭귄 🐧</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          와 그래도 오늘 프론트 엔드 손좀 봤다. 내일은 또 어떤 지옥이 펼쳐질까
          하하하
        </p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;99999</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">슬픈 원숭이 🐵</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>와 모닥불 언제 출시하는거에요 진짜?? 이렇게 할 게 많다고?</p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;765</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">슬픈 원숭이 🐵</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>와 모닥불 언제 출시하는거에요 진짜?? 이렇게 할 게 많다고?</p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;765</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">슬픈 원숭이 🐵</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>와 모닥불 언제 출시하는거에요 진짜?? 이렇게 할 게 많다고?</p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;765</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="card feed-comment rounded-pill">
    <div class="card-header">슬픈 원숭이 🐵</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>와 모닥불 언제 출시하는거에요 진짜?? 이렇게 할 게 많다고?</p>
        <div class="feed-button">
          <button type="button" class="btn btn-dark">
            🙌<span> &nbsp;765</span>
          </button>
        </div>
      </blockquote>
    </div>
  </div>
</main>
<script src="../static/js/feed.js"></script>
{% endblock %}
