{% extends "base.html" %} {% block head %}
<!-- place for css link -->
<title>Bornfire - 피드페이지</title>

<link href="{{url_for('static',filename='./css/feed.css')}}" rel="stylesheet" />
<!-- place for jquery CDN -->
{% endblock %} {% block body %}

<div class="container title-wrapper-left">
  <!-- 소개글 -->
  <div class="row mb-3">
    <div class="col-md-12 title">
      <h1 class="display-3">
          <span>오늘의 주제</span>
      </h1>
    </div>
  </div>

  <div class="row subject">
    <blockquote class="blockquote mb-0">
      <div class="title-m dynamic-container">
        <span id="dynamic-txt" class="bottom-line" ></span>
      </div>
    </blockquote>
  </div>
</div>

<div class="container">
    <div class="card">
      <form>
        <div class="input-group input-group-lg">
          <input  class="card-header form-control" type="text"
            placeholder="오늘의 주제에 대해 얘기해주세요" id="context"/>
          <div class="input-group-append input-group-lg">
            <button class="btn btn-outline-secondary" type="button"
              id="button-addon2">포스트</button>
          </div>
        </div>
      </form>
    </div>
</div>

<div class="card-container">
    <div id="card-row" class="row row-cols-2 row-cols-md-3 g-4">
      {% for data in datas %}
        <div class="col">
          <div id="card" class="card h-100 feed-comment">
            <div class="card-header">
              <small>
                <div id="card-header">{{ data.nickname }}</div>
              </small>
            </div>
            <div id="card-body" class="card-body card-content">
              <blockquote class="blockquote mb-0">
                <p class="card-text">{{ data.context }}</p>
              </blockquote>
            </div>
            <div class="card-footer">
              <div class="feed-button">
                <button type="button" class="btn btn-dark" value="{{ data._id }}">
                  🙌<span> &nbsp;{{ data['thumbs-up'] }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %} {% block script %}
<script src="../static/js/feed.js"></script>
<script>
  const subject = {{ subject|tojson }}
  const dynamicTxt = document.querySelector('#dynamic-txt')
  let index = 0

  let flag = false;

  function typing(){
    dynamicTxt.textContent += subject[index++];
    console.log(index)
    if(index > subject.length - 1) {
      clearInterval(handle)
    }
  }
  
  let handle = setInterval(typing, 200)
</script>
{% endblock %}
