{% extends "base.html" %} 
{% block head %}
<!-- place for css link -->
<link href="{{url_for('static',filename='./css/intro.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container my-5 top">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg">
    
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg top-img">
      
    </div>
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">모닥불</h1>
      <br>
      <li class="lead">모닥불의 서비스는 이러한 서비스입니다</li>
      <li class="lead">모닥불의 서비스는 이러한 서비스입니다</li>
      <li class="lead">모닥불의 서비스는 이러한 서비스입니다</li>
    </div>
    
  </div>
</div>



<!-- 서비스 소개 -->
<div class="container content-title">
  <h1 class="d-flex justify-content-start">서비스 소개</h1>
</div>
<div class="container content clearfix">
  <p>
    서비스 소개에 대해 적어주세요
  </p>
  <div>
    <!-- graph -->
    <div class="graph col-md-6 float-md-end mb-3 ms-md-3 gap-3">
      [임시공간]여기는 통계그래프가 들어갑니다.
    </div>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
    <p>
      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
    </p>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
  </div>
</div>
<div class="container content clearfix">
  <!-- graph -->
  <div class="graph col-md-6 float-md-start mb-3 ms-md-3 gap-3">
    [임시공간]여기는 통계그래프가 들어갑니다.
  </div>
  <p>
    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
  </p>
  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
  </p>
</div>


<!-- 서비스 필요성 -->
<div class="container content-title">
  <h1 class="d-flex justify-content-start">서비스 필요성</h1>
</div>
<div class="container content clearfix">
  <p>
    서비스 소개에 대해 적어주세요
  </p>
  <div>
    <!-- graph -->
    <div class="graph col-md-6 float-md-end mb-3 ms-md-3 gap-3">
      [임시공간]여기는 통계그래프가 들어갑니다.
    </div>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
    <p>
      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
    </p>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
  </div>
</div>
<div class="container content clearfix">
  <!-- graph -->
  <div class="graph col-md-6 float-md-start mb-3 ms-md-3 gap-3">
    [임시공간]여기는 통계그래프가 들어갑니다.
  </div>
  <p>
    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
  </p>
  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
  </p>
</div>


<!-- 프로젝트 구성 -->
<div class="container content-title">
  <h1 class="d-flex justify-content-start">프로젝트 구성</h1>
</div>
<div class="container content clearfix">
  <p>
    서비스 소개에 대해 적어주세요
  </p>
  <div>
    <!-- graph -->
    <div class="graph col-md-6 float-md-end mb-3 ms-md-3 gap-3">
      [임시공간]여기는 통계그래프가 들어갑니다.
    </div>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
    <p>
      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
    </p>
    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>
  </div>
</div>
<div class="container content clearfix">
  <!-- graph -->
  <div class="graph col-md-6 float-md-start mb-3 ms-md-3 gap-3">
    [임시공간]여기는 통계그래프가 들어갑니다.
  </div>
  <p>
    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
  </p>
  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
  </p>
</div>


<!-- col-test -->
<!-- <div class="container">
  <div class="row align-items-start">
    <div class="col-lg-5" style="background-color: red;">test</div>
    <div class="col-lg-7" style="background-color: blue;">test</div>
  </div>
</div> -->

<div class="row text-center" style="width: 100%">
  <div style="width: 30%; float:none; margin:30px auto">
          <button class="btn btn btn-danger btn-round" style="width: 100%">통계 페이지로 </button>
  </div>
</div>
{% endblock %}
