{% extends "my-page.html" %}

<!DOCTYPE html>
<html>
    <body class="sb-nav-fixed text-white bg-dark">
        {% block content %}
            <div id="layoutSidenav">
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">내 계정 정보</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">내 계정 정보</li>
                                <!-- 회원 정보 수정 페이지를 따로 만들 것인지? 아니면 각 항목별로 수정해서 동기적으로 표현할 것인지? -->
                                <li><button type="button" class="position-absolute #FBF8EF  top-30 end-0 " > 회원 정보 수정</button></li>
                            </ol>
                            <div class="row">
                                <a>hi</a>
                            </div>
                            
                        </div>                    
                    </main>
                    
                </div>
            </div>
        {% endblock %} 

    </body>
</html>