{% extends "base.html" %} {% block head %}
<!-- place for css link -->
<link
  href="{{url_for('static',filename='./css/my-page.css')}}"
  rel="stylesheet"
/>

{% endblock %} 

{% block body %}
<div class="container">
  <!-- 나의 계정 -->
  <div class="container my-account bg-white">
    <div class="row p-3 content-row">
      <div class="p-5 pb-2 text-black content-box">
        <div class="col-md-6 title">
          <h5 class="display-5">나의 계정</h5>
        </div>
        <div class="col-md-5">
          <h5 class="h5">{{data.user_email}}</h5>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 비밀번호 변경 -->
  <div class="container my-account bg-white">
      <div class="row p-3 content-row">
        <div class="p-5 pb-2 text-black content-box">
          <div class="col-md-6 title">
            <h5 class="display-5">비밀번호 변경</h5>
          </div>

          <!-- 기존 비밀번호 -->
          <div class="col-md-5">
            <h5 class="h5">기존 비밀번호</h5>
            <input type="password" name="origin_pw" id="origin_pw" class="origin_pw" placeholder="*****" required />
          </div>
          
          <!-- 변경할 비밀번호 -->
          <div class="col-md-5 mt-5">
            <h5 class="h5">변경할 비밀번호</h5>
            <input type="password" name="new_pw" id="new_pw" class="new_pw" placeholder="*****" required />
          </div>
        </div>
      </div>
      <div class="row p-3 content-row justify-content-end">
        <div class="col-md-3">
          <button class="btnValue1">변경</button>
        </div>
      </div>
  </div>
  <!-- 나의 피드 통계 -->
  <div class="container my-account bg-white">
    <div class="row p-5 content-row">
      <div class="col-md-6">
        <div class="col-md-12 title">
          <h5 class="display-6">주간 피드 통계</h5>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12">
            <canvas id="daily_statistics"></canvas>
          </div>
        </div>
        
      </div>

      <div class="col-md-6">
        <div class="col-md-12 title">
          <h5 class="display-6">나의 게시글 감정 통계</h5>
        </div>
        <div class="col-md-12">
          <canvas id="feed-sentiment"></canvas>
        </div>
      </div>
  </div>
</div>
{% endblock %} 


{% block script %}
<script>
  // 비밀번호 변경
  $(".btnValue1").click(function () {
    console.log($("#origin_pw").val())
    data = {
      "origin_pw": $("#origin_pw").val(),
      "new_pw": $("#new_pw").val()
    }

    $.ajax({
      type: "POST",
      // url_for을 사용할 때는 Blueprint.function
      url: '{{url_for("mypage.change_pw")}}',
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (result) {
        if (result['result'] == 'ok') {
          alert('비밀번호가 성공적으로 변경되었습니다!')
        } else {
          alert('비밀번호가 올바르지 않습니다.')
        }
        $("#origin_pw").val("");
        $("#new_pw").val("");
      },
      error: function (request, status, error) {
        alert(error);
      },
    });
  });

  // 일일 피드 통계량
  let temp = {{ data|tojson }};
  let week_labels = temp['my_feed_log'][0];
  let week_value = temp['my_feed_log'][1];
  
  let predicted_value = temp['predicted_value'];
  console.log(predicted_value);

</script>

<!-- chartjs -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
  integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- chart -->
<script src="{{ url_for('static', filename='./js/mypage_graph.js')}}"></script>
{% endblock %}
